
<h1><%= @experiment.title%></h1>
<br>
<table>
<h2> <text> Procedures:</text> <%= @experiment.procedures %></h2>
<h2> <text> Results: </text><%= @experiment.results %></h2>
<h2> <text> Conclusion: </text><%= @experiment.conclusion %></h2>
</table>

<h1>Comments:</h1>
<div class="comments-list">
	<%@experiment.comments.each do |comment|%>
	<div>
		<p>
		<%=comment.body%>
		</p>
		<li><%= link_to 'Edit', edit_experiment_path(@experiment, comment) %></li>
		<br>
	</div>
</div>
<input type="text" name="name" class="new-comment">
<li class='add-comment'>Add Comment</li>

<!-- <%= link_to 'Add comment', new_comment_path %> -->
<%end%>
<br>
<script>
	$('.add-comment').on('click', () => {
		let newComment = $('.new-comment');
		console.log(newComment);
		$(".comments-list").append('<li>' + newComment.val() + '</li>');
		$("new-comment").val('');
	});
</script>

<h1>Observations</h1>
<div class="observations-list">
	<%@experiment.observations.each do |observation|%>
	<%= observation.title %>
	<%end%>
</div>
<input type="text" name="name" class="new-observation-comment">
<li class='add-observation-comment'>Add Comment</li>


<script>
	$('.add-observation-comment').on('click', () => {
		let newObservationComment = $('.new-observation-comment');
		$(".observations-list").append('<li>' + newObservationComment.val() + '</li>');
		$("new-observation-comment").val('');
	});
</script>
