<div class="jumbotron">
      <div class="container">
        <h1><%= @experiment.title%></h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
<br>
<table>
<h2> <text> Procedures:</text> <%= @experiment.procedures %></h2>
<h2> <text> Results: </text><%= @experiment.results %></h2>
<h2> <text> Conclusion: </text><%= @experiment.conclusion %></h2>
</table>

<%@experiment.comments.each do |comment|%>
	<p>
	<%=comment.body%>
	</p>
<%end%>
<br>
<h1>Observations:</h1>
