<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Create a new Account</h1><br>

			<%=form_for :user, url: new_user_registration_path do |f|%>
				<%= f.label :email %>:
  				<%= f.text_field :email %><br>

  				<%= f.label :password %>:
  				<%= f.password_field :password %><br>

  				<%= f.label :password_confirmation %>:
  				<%= f.password_field :password_confirmation %><br>
  				<%= f.submit %>
  			<%end%>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  
					<%=form_for :user, url: user_session_path do |f|%>
					<%= f.label :email %>:
  					<%= f.text_field :email %><br>

  					<%= f.label :password %>:
  					<%= f.password_field :password %><br>
  					<%= f.submit %>
  				<%end%>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>

<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="main-jumbo" class="jumbotron">
        <video autoplay loop class="fillWidth">
            <source src="Glass-Maker.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Propose</h2>
          <p>
            Use our service to get the ball rolling on research ideas. Through our science hub, users are given the tools necessary to begin the long review process of experimentation, while getting feedback.
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Experiment</h2>
          <p>
            Post every step of the experimentation process while attempting to get your idea approved. Showing experimentation allows faculty to get a better sense of your research.
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Approve</h2>
          <p>
            It doesn't happen often, but research approval is the purpose of our service. Take your ideas from r&d to published works.
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body>